* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

:root {
  --secondary: #f53626;
  --heading-color: #000c04;
  --font-color: #696969;
  --primary-color: #189a46;
  --font-color: #afafaf;
  --bg-light: #222;
}

.navbar {
  background: #151515 !important;
  padding: 15px 180px;
  top: 40px;
  font-size: 1.2em;
  font-weight: 400;
  box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
  transition: padding 0.5s;
}
.navbar .navbar-brand {
  font-size: 34px;
  font-weight: 600;
  text-transform: capitalize;
  color: #189a46;
}
.navbar .navbar-brand:hover {
  color: #189a46;
}
nav #home {
  color: #189a46 !important;
  position: relative;
}
nav #home::after {
  content: "";
  width: 0px;
  height: 1px;
  position: absolute;
  left: 8px;
  top: 35px;
  background-color: #189a46;
  transition: all 0.3s;
}
#navbarSupportedContent .nav-item .nav-link {
  /* color: #000c04; */
  color: white;
  transition: 0.5s;
  position: relative;
}
#navbarSupportedContent .nav-item .nav-link:hover {
  color: #189a46;
}
#navbarSupportedContent .nav-item .nav-link::before {
  content: "";
  width: 0px;
  height: 1px;
  position: absolute;
  left: 8px;
  top: 35px;
  background-color: #189a46;
  transition: all 0.3s;
}
#navbarSupportedContent .nav-item .nav-link:hover::before {
  width: 80%;
}
#navbarSupportedContent .nav-item {
  margin-left: 10px;
}
.navbar-expand-lg .navbar-nav {
  margin-left: auto;
}
.mr-auto,
.mx-auto {
  margin-right: 0 !important;
}
a#navbarDropdown.nav-link.dropdown-toggle::after {
  content: "\f107";
  font-family: FontAwesome;
  display: inline-block;
  font-size: 0.6em;
  border: none !important;
  vertical-align: 0 !important;
  margin: 0 !important;
}
.dropdown-divider {
  border: 0;
  margin: 0;
}
.dropdown-menu {
  padding-right: 50px;
  left: -75px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0.5rem;
  position: relative;
}
.dropdown-menu::after {
  content: "";
  width: 1em;
  height: 1em;
  position: absolute;
  top: -4%;
  left: 45%;
  background-color: white;
  transform: rotateZ(45deg);
}
.dropdown-item {
  font-weight: 400;
  font-size: 1.2em;
  margin: 5px 0px;
}

/* OWL_CAROUSEL  */
.owl-carousel .owl-stage-outer {
  width: 100% !important;
}
.owl-carousel .image {
  color: white;
  position: relative;
  z-index: 1;
  max-width: 100% !important;
}
.owl-carousel .text_align_left .image_content {
  position: absolute;
  top: 30%;
  left: 10%;
}
.owl-carousel .text_align_center .image_content {
  position: absolute;
  top: 30%;
  left: 40%;
}
.owl-carousel .image_content {
  width: 42%;
  height: 60%;
}
.owl-carousel .image h1 {
  font-size: 66px;
  line-height: 76px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
}
.owl-carousel .image p {
  margin-bottom: 45px;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 30px;
  opacity: 0.9;
}
.owl-carousel .image .btn_1 {
  padding: 12px 35px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: 10px;
  background-color: #fff;
  color: #189a46;
  cursor: pointer;
}
.owl-carousel .image .btn_2 {
  padding: 12px 35px;
  margin-left: 10px;
  font-size: 18px;
  line-height: 28px;
  text-transform: capitalize;
  font-weight: 400;
  transition: 0.3s ease-in;
  border-radius: 10px;
  border: 2px solid #fff;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}
.owl-carousel .image .btn_2:hover {
  background-color: #fff;
  color: #189a46;
}

.owl-carousel .image::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.owl-carousel .image_1 {
  width: 100%;
  height: 95vh;
  background-image: url(./img/banner1.jpg);
  background-size: cover !important;
  background-position: center;
}
.owl-carousel .image_2 {
  width: 100%;
  height: 95vh;
  background-image: url(./img/banner2.jpg);
  background-size: cover !important;
  background-position: center;
}
.owl-carousel .image_3 {
  width: 100%;
  height: 95vh;
  background-image: url(./img/banner3.jpg);

  background-size: cover !important;
  background-position: center;
}
.owl-carousel .image_4 {
  width: 100%;
  height: 95vh;
  background-image: url(./img/banner4.jpg);
  background-size: cover !important;
  background-position: center;
}
/* edit dot */
.owl-carousel .owl-dots {
  position: absolute;
  top: 90%;
  left: 45%;
}
.owl-theme .owl-dots .owl-dot span {
  background-color: #fff;
}
/* đoạn này mở code của source ra copy cho chắc chắn */
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #189a46;
  width: 30px;
}
/* OWL_CAROUSEL  */
/* About us  */
.about_us_content {
  text-align: center;
  padding: 100px 300px;
  background-color: #151515;
  color: white;
}
.about_us_content h2 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 2em;
  letter-spacing: 1px;
  color: var(--secondary);
}
.about_us_content h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: capitalize;
  color: white;
  /* color: var(--heading-color); */
}
.about_us_content p {
  font-size: 1.2em;
  line-height: 28px;
  color: var(--font-color);
}
.about_us_content a {
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  color: white;
  position: relative;
  transition: 0.3s ease-in-out;
}
.about_us_content a::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--primary-color);
  position: absolute;
  top: 100%;
  left: 0;
}
/* About us  */

/* Grid  */
.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
#grid_container {
  padding: 80px 0px;
}
#grid_container .row {
  color: whitesmoke;
}
#grid_container #row_item {
  padding: 15px;
}
#grid_container #row_item #row_container {
  position: relative;
  padding: 50px 40px;
  border-radius: 10px;
  overflow: hidden;
  border: none;
}
#grid_container #row_item #row_container::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #151515;
  z-index: -1;
  transition: all 0.5s;
  overflow: hidden;
}
#grid_container #row_item #row_container:hover::before {
  opacity: 0;
}
#grid_container #row_item #row_container i {
  color: var(--primary-color);
  font-size: 30px;
}

#grid_container .row h2 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 25px;
}
#grid_container .row p {
  font-size: 1.2em;
  line-height: 28px;
  color: var(--font-color);
}
#grid_container .row a {
  text-decoration: none;
  font-size: 17px;
  color: white;
  font-weight: 600;
  border-bottom: 2px solid var(--primary-color);
  transition: all 0.5s;
}

/* Grid  */

/* Light theme */
#myBody {
  background-color: var(--bg-light);
}
.tablet-ver {
  display: none;
}
#switchButton {
  margin-left: 10px;
  font-size: 25px;
  color: white;
  background-color: transparent;
  border: none;
  transition: all 0.5s;
}
#switchButton .fa-moon {
  display: none;
}
#switchButton .fa-sun {
  display: block;
}

/* Dark Theme*/
.dark#myBody {
  background-color: white;
}
.dark .navbar {
  background-color: white !important;
}
.dark .nav-item .nav-link {
  color: #151515 !important;
  transition: all 0.5s;
}
.dark .nav-item .nav-link:hover {
  color: #189a46 !important;
}
/* darkmode--about us  */
.dark .about_us_content {
  background-color: white;
}
.dark .about_us_content h1 {
  color: var(--heading-color);
}
.dark .about_us_content a {
  color: var(--heading-color);
  transition: all 0.5s;
}
/* hover màu để dưới cùng  */
.about_us_content a:hover {
  color: var(--primary-color);
}
.dark .about_us_content p {
  color: var(--font-color);
}
/* darkmode-grid  */
.dark .grid {
  background-color: rgba(147, 107, 232, 0.05);
}
.dark #grid_container #row_item #row_container {
  /* background-color: rgba(147, 107, 232, 0.09); */
  background-color: white;
  transition: all 0.5s;
  color: black;
}
.dark #grid_container #row_item #row_container:hover {
  /* background-color: rgba(147, 107, 232, 0.09); */
  background-color: rgba(147, 107, 232, 0.09);
  transition: all 0.5s;
  color: black;
}
.dark #grid_container #row_item #row_container::before {
  display: none;
}

.dark #grid_container #row_item #row_container a {
  color: var(--heading-color);
  text-decoration: none;
  transition: all 0.5s;
}
#grid_container #row_item #row_container a:hover {
  color: #189a46;
}

/* darkmode-button  */
.dark #switchButton .fa-sun {
  display: none;
}

.dark #switchButton .fa-moon {
  display: block;
  color: black;
}
/* Light theme */
/* Scroll nav  */
.scrolled-nav {
  padding: 8px 180px !important;
}
/* Scroll nav  */

#global-nav .navbar-toggler {
  border: none;
}
#global-nav .navbar-toggler span.navbar-toggler-icon {
  display: none;
}
/* REPONSIVE */
/* reponsive for tablet  */
/* turn off default button dropdown of bs4 */

@media only screen and (max-width: 991.98px) {
  .navbar-toggler {
    line-height: 1;
    padding: 0.15rem 0.3rem;
    color: #fff !important;
    font-size: 1.5em;
    background-color: green;
  }
  #switchButton {
    display: block;
    position: absolute;
    right: 9em;
    top: 1em;
  }
  .navbar {
    padding: 8px 150px;
  }
  .scrolled-nav {
    padding: 2px 150px !important;
  }
  .navbar-collapse {
    text-align: center !important;
  }
  .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: inline-block;
    margin-bottom: 0.35em;
  }
  #navbarSupportedContent .nav-item .nav-link::before {
    left: 0;
  }
  #navbarSupportedContent .nav-item .nav-link:hover::before {
    width: 100%;
  }
  .navbar-nav .dropdown-menu {
    padding: 0;
    background-color: #151515;
    border: 1px solid #333;
    text-align: center;
  }
  .dropdown-menu::after {
    content: "";
    width: 1em;
    height: 1em;
    position: absolute;
    top: 25%;
    left: 48%;
    background-color: #151515;
    border: 1px solid #333;
    border-right: none;
    border-bottom: none;
    transform: rotateZ(45deg);
  }
  .navbar-nav .dropdown-menu .dropdown-item {
    color: white;
  }
  .owl-carousel .text_align_left .image_content {
    position: absolute;
    top: 30%;
    left: 15%;
  }
  .owl-carousel .text_align_center .image_content {
    position: absolute;
    top: 30%;
    left: 15%;
  }
  .owl-carousel .image_content {
    width: 80%;
    height: 60%;
  }
  .owl-carousel .image h1 {
    font-size: 50px;
    line-height: 55px;
  }
  .owl-carousel .image p {
    font-size: 1rem;
  }
  .about_us_content {
    padding: 100px 100px;
  }
}
/* reponsive for lanscape phone  */
@media only screen and (max-width: 767.98px) {
  #switchButton {
    display: block;
    position: absolute;
    right: 4.5em;
    top: 1em;
  }
  .navbar {
    padding: 8px 50px;
  }
  .scrolled-nav {
    padding: 2px 50px !important;
  }
  .dropdown-menu::after {
    content: "";
    width: 1em;
    height: 1em;
    position: absolute;
    top: 25%;
    left: 48%;
    background-color: #151515;
    border: 1px solid #333;
    border-right: none;
    border-bottom: none;
    transform: rotateZ(45deg);
  }
  .owl-carousel .text_align_left .image_content {
    position: absolute;
    top: 30%;
    left: 5%;
  }
  .owl-carousel .text_align_center .image_content {
    position: absolute;
    top: 30%;
    left: 5%;
  }
  .owl-carousel .image_content {
    width: 90%;
    height: 60%;
  }
  .owl-carousel .image h1 {
    font-size: 50px;
    line-height: 55px;
  }
  .owl-carousel .image p {
    font-size: 1rem;
  }
  .owl-carousel .owl-dots {
    position: absolute;
    top: 90%;
    left: 42%;
  }
  .about_us_content {
    padding: 80px 20px;
  }
  .about_us_content h1 {
    font-size: 35px !important;
    line-height: 40px;
  }
}
/* reponsive for lanscape phone  */
@media only screen and (max-width: 575.98px) {
  .navbar {
    padding: 8px 20px;
  }
  .scrolled-nav {
    padding: 2px 20px !important;
  }
  #switchButton {
    display: block;
    position: absolute;
    right: 3em;
    top: 1em;
  }
}
